## Variables and Data types

In [5]:
#integer 
age = 30 
print("My age is ", age)

My age is  30

In [ ]:
#float
pi = 3.1416
print(pi)

3.1416

In [7]:
#str
my_name = "Mehedi"
print("My name is: " +my_name)

My name is: Mehedi

In [14]:
#boolean

is_student = True 
not_student = False 

print(is_student) 
print(not_student) 
type(not_student)

True
False

bool

In [12]:

age = 30 
print("My age is " + str(age))

My age is 30

In [13]:
type(age)

int

In [19]:
age = "30"
print(type(age)) 
age = int(age) 
print(type(age))

<class 'str'>
<class 'int'>

In [26]:
name = input("Enter your name: ")
type(name)

str

In [27]:
print(name)

Mehedi

In [29]:
age = 30 #My age is 30

print(f"My name is {name} and my age is {age}")

My name is Mehedi and my age is 30