In [8]:
# set operation
#syntax: {}, set()

In [9]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'cherry', 'apple', 'banana'}

In [10]:
fruits = ["apple", "banana", "cherry", "apple"]
fruits_set = set(fruits)
print(fruits_set)

{'cherry', 'apple', 'banana'}

In [ ]:
fruits_set[0] = "orange"  # This will raise an error because sets do not support indexing

TypeError: 'set' object is not subscriptable

['cherry', 'apple', 'banana']

In [20]:
fruits_set.add("orange")
fruits_set

{'apple', 'banana', 'cherry', 'orange'}

In [23]:
fruits_set.remove("banana")

In [24]:
fruits_set

{'apple', 'cherry', 'orange'}

In [26]:
fruits_set.discard("pepe")

In [27]:
fruits_set

{'apple', 'cherry', 'orange'}

In [28]:
fruits_set.discard("orange")

In [30]:
fruits_set = {"apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"}

In [34]:
pop_var = fruits_set.pop()

In [35]:
pop_var

'melon'

In [36]:
fruits_set.clear()

In [37]:
fruits_set

set()

In [39]:
# mathematical set operations

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

In [42]:
# Union
set_union = set_a.union(set_b)
print("Union:", set_union)
print("using pipe char", set_a | set_b)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
using pipe char {1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
# intersection
set_intersection = set_a.intersection(set_b)
print("Intersection:", set_intersection)
print("using ampersand char", set_a & set_b)

Intersection: {4, 5}
using ampersand char {4, 5}

In [ ]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

In [46]:
#Difference
set_difference = set_b.difference(set_a)  
print("Difference (A-B):", set_difference)
print("using minus char", set_b - set_a)

Difference (A-B): {8, 6, 7}
using minus char {8, 6, 7}

In [ ]:
#symmetric difference
set_sym_diff = set_a.symmetric_difference(set_b)
print("Symmetric Difference:", set_sym_diff)
print("using caret char", set_a ^ set_b) #caret(^)

Symmetric Difference: {1, 2, 3, 6, 7, 8}
using caret char {1, 2, 3, 6, 7, 8}