In [2]:
#immutable
#int, float, str, tuple, bool, frozenset
#mutalble
#list, dict, set

In [3]:
#immutable
x = 12
y = 12.12
name = "Mehedi"
age_number = (12,1,2,3,4,4)
is_student = True

In [4]:
#mutable
age_number = [12,1,2,3,4,4]
name_age = {"mehedi": 30, "Karim":40}
age_set = {12,1,2,3,4}

In [8]:
frozen_age_number = frozenset(age_number)
frozen_age_number

frozenset({1, 2, 3, 4, 12})

In [ ]:
#for var in sequence:
    #  code block ba loop body

In [11]:
fruits = ["apple", "banana", "cherry", "date"]

In [12]:
for fruit_name in fruits:
    print("fruit name is :", fruit_name)

fruit name is : apple
fruit name is : banana
fruit name is : cherry
fruit name is : date

In [ ]:
## range()

#range(start, stop, step) #excluding stop

In [13]:
#range(start, stop)
for vlaue in range(1,5):
    print(vlaue)

1
2
3
4

In [22]:
list(range(0,15,3))

[0, 3, 6, 9, 12]

In [3]:
squares = list()
for num in range(1,11):
    squares.append(num**2)

In [4]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#list comprehension 
#[expression for item in iterable]
[item**2 for item in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#basic syntax
# while condition:

In [8]:
current_num = 1
while current_num <= 5: 
    print(current_num)
    current_num = current_num+1

1
2
3
4
5

In [9]:
fruit_name = ['apple', 'banana', 'mango', 'orange']

In [13]:
for index, f_name in enumerate(fruit_name):
    print(f"index : {index+1} fruit name: {f_name}")

index : 1 fruit name: apple
index : 2 fruit name: banana
index : 3 fruit name: mango
index : 4 fruit name: orange